# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=sqli_lab_db

# Flask Server Configuration
SECRET_KEY=sqli_lab_super_secret_key_2026
FLASK_ENV=development
